<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.mapper.StakeOrderMapper">

    <resultMap type="StakeOrder" id="StakeOrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="stakeRoundId"    column="stake_round_id"    />
        <result property="stakeAmount"    column="stake_amount"    />
        <result property="oldHAmount"    column="old_h_amount"    />
        <result property="depositSourceType"    column="deposit_source_type"    />
        <result property="acpPriceUsdtSnapshot"    column="acp_price_usdt_snapshot"    />
        <result property="hPriceUsdtSnapshot"    column="h_price_usdt_snapshot"    />
        <result property="depositUsdtAmount"    column="deposit_usdt_amount"    />
        <result property="giftRatioSnapshot"    column="gift_ratio_snapshot"    />
        <result property="giftHAmount"    column="gift_h_amount"    />
        <result property="status"    column="status"    />
        <result property="bizStatus"    column="biz_status"    />
        <result property="txHash"    column="tx_hash"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />

        <result property="belongUserId"    column="belong_user_id"    />
        <result property="createDay"    column="create_day"    />
    </resultMap>

    <sql id="selectStakeOrderVo">
        select belong_user_id, create_day, biz_status, id, order_no, user_id, stake_round_id, stake_amount, old_h_amount,
               deposit_source_type, acp_price_usdt_snapshot, h_price_usdt_snapshot, deposit_usdt_amount,
               gift_ratio_snapshot, gift_h_amount, status, tx_hash, remark, create_time, update_time
        from t_stake_order
    </sql>

    <select id="selectStakeOrderList" parameterType="StakeOrder"
            resultMap="StakeOrderResult">
        <include refid="selectStakeOrderVo"/>
        <where>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="bizStatus != null  and bizStatus != ''"> and biz_status = #{bizStatus}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="createDay != null "> and create_day = #{createDay}</if>
            <if test="belongUserId != null "> and belong_user_id = #{belongUserId}</if>
            <if test="stakeRoundId != null "> and stake_round_id = #{stakeRoundId}</if>
            <if test="stakeAmount != null "> and stake_amount = #{stakeAmount}</if>
            <if test="oldHAmount != null "> and old_h_amount = #{oldHAmount}</if>
            <if test="depositSourceType != null "> and deposit_source_type = #{depositSourceType}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="txHash != null  and txHash != ''"> and tx_hash = #{txHash}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
        order by id desc
    </select>

</mapper>
