<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.mapper.UserMoneySnapshotMapper">

    <resultMap type="UserMoneySnapshot" id="UserMoneySnapshotResult">
        <result property="snapshotId"    column="snapshot_id"    />
        <result property="stakeRoundId"    column="stake_round_id"    />
        <result property="snapshotTime"    column="snapshot_time"    />
        <result property="id"    column="id"    />
        <result property="validNum1"    column="valid_num1"    />
        <result property="validNum2"    column="valid_num2"    />
        <result property="validNum3"    column="valid_num3"    />
        <result property="validNum4"    column="valid_num4"    />
        <result property="validNum5"    column="valid_num5"    />
        <result property="validNum6"    column="valid_num6"    />
        <result property="validNum7"    column="valid_num7"    />
        <result property="validNum8"    column="valid_num8"    />
        <result property="validNum9"    column="valid_num9"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectUserMoneySnapshotVo">
        select snapshot_id, stake_round_id, snapshot_time, id, valid_num1, valid_num2, valid_num3, valid_num4, valid_num5, valid_num6, valid_num7, valid_num8, valid_num9, update_time,  deleted from t_user_money_snapshot
    </sql>

    <select id="selectUserMoneySnapshotList" parameterType="UserMoneySnapshot"
            resultMap="UserMoneySnapshotResult">
        <include refid="selectUserMoneySnapshotVo"/>
        <where>
            <if test="stakeRoundId != null "> and stake_round_id = #{stakeRoundId}</if>
            <if test="stakeRoundId != null "> and stake_round_id = #{stakeRoundId}</if>
            <if test="id != null "> and id = #{id}</if>
            <if test="validNum1 != null "> and valid_num1 = #{validNum1}</if>
            <if test="validNum2 != null "> and valid_num2 = #{validNum2}</if>
            <if test="validNum3 != null "> and valid_num3 = #{validNum3}</if>
            <if test="validNum4 != null "> and valid_num4 = #{validNum4}</if>
            <if test="validNum5 != null "> and valid_num5 = #{validNum5}</if>
            <if test="validNum6 != null "> and valid_num6 = #{validNum6}</if>
            <if test="validNum7 != null "> and valid_num7 = #{validNum7}</if>
            <if test="validNum8 != null "> and valid_num8 = #{validNum8}</if>
            <if test="validNum9 != null "> and valid_num9 = #{validNum9}</if>
        </where>
        order by id desc
    </select>

</mapper>
