<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.mapper.W3MiningPackageOrderLogMapper">

    <resultMap type="W3MiningPackageOrderLog" id="W3MiningPackageOrderLogResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="beforeAmount"    column="before_amount"    />
        <result property="changeAmount"    column="change_amount"    />
        <result property="afterAmount"    column="after_amount"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectW3MiningPackageOrderLogVo">
        select id, order_id, user_id, before_amount, change_amount, after_amount, create_time from t_w3_mining_package_order_log
    </sql>

    <select id="selectW3MiningPackageOrderLogList" parameterType="W3MiningPackageOrderLog"
            resultMap="W3MiningPackageOrderLogResult">
        <include refid="selectW3MiningPackageOrderLogVo"/>
        <where>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="beforeAmount != null "> and before_amount = #{beforeAmount}</if>
            <if test="changeAmount != null "> and change_amount = #{changeAmount}</if>
            <if test="afterAmount != null "> and after_amount = #{afterAmount}</if>
        </where>
        order by id desc
    </select>

</mapper>
